-- CreateTable
CREATE TABLE "lotes_ingresso" (
    "id" TEXT NOT NULL,
    "nomeArquivo" TEXT NOT NULL,
    "operador" TEXT,
    "showData" DATE NOT NULL,
    "showLabel" TEXT NOT NULL,
    "importadoPorId" TEXT NOT NULL,
    "importadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "totalLinhas" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "lotes_ingresso_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "reservas_ingresso" (
    "id" TEXT NOT NULL,
    "loteId" TEXT NOT NULL,
    "protocolo" TEXT NOT NULL,
    "cpf" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "dataNasc" TEXT,
    "cidade" TEXT,
    "bairro" TEXT,
    "retirado" BOOLEAN NOT NULL DEFAULT false,
    "retiradoEm" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "reservas_ingresso_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "lotes_ingresso_showData_idx" ON "lotes_ingresso"("showData");

-- CreateIndex
CREATE INDEX "reservas_ingresso_cpf_idx" ON "reservas_ingresso"("cpf");

-- CreateIndex
CREATE INDEX "reservas_ingresso_protocolo_idx" ON "reservas_ingresso"("protocolo");

-- CreateIndex
CREATE UNIQUE INDEX "reservas_ingresso_loteId_cpf_key" ON "reservas_ingresso"("loteId", "cpf");

-- AddForeignKey
ALTER TABLE "reservas_ingresso" ADD CONSTRAINT "reservas_ingresso_loteId_fkey" FOREIGN KEY ("loteId") REFERENCES "lotes_ingresso"("id") ON DELETE CASCADE ON UPDATE CASCADE;

